<meta charset="utf-8"/>
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700' rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" href="./stylesheet/style.css">
<div class="wave">
	<svg></svg>	
</div>
<div class="neighbor-container"></div>
<div class="user-container"></div>

<div class="github-container">
	<a href="https://github.com/cocagolau/Project_AirDropBox" target="_blank">
	</a>
</div>

<script type="text/template" id="avatar-neighbor-template">
<div class="avatar" id="<%= id %>">
<div class="drop-mask"></div>
<span class="id blind"><%= id %></span>
<div class="progress-container">
</div>
<div class="avatar-pic" style="background-image:url(./user_pic/<%= image %>)">
    <div class="message">
    </div>
</div>
<h1><%= name %></h1>
<div class="stream-loader-container"></div>
</div>
</script>
<script type="text/template" id="avatar-me-template">
<div class="avatar" id="<%= id %>">
<h1><%= name %></h1>
<span class="id blind"><%= id %></span>
<div class="avatar-pic" style="background-image:url(./user_pic/<%= image %>)">
</div>
</div>
</script>
<script type="text/template" id="confirm-popup-sender">
<div class="acception-container">
    <p><%= opponentName %>에게
    <%= fileName %>.<%= fileType %>(<%= fileSize %>Kb) 을(를) 전송하시겠습니까?</p>
    <div class="btn no">아니오</div>
    <div class="btn yes">예</div>
</div>
</script>
<script type="text/template" id="confirm-popup-reciever">
<div class="acception-container">
    <p><%= opponentName %>으로부터
    <%= fileName %>.<%= fileType %>(<%= fileSize %>Kb) 을(를) 받으시겠습니까?</p>
    <div class="btn no">아니오</div>
    <div class="btn yes">예</div>
</div>
</script>

<!-- addClass 와 removeClass 용 -->
<script src="./lib/jquery-2.1.1.min.js"></script>
<!-- 스프링 애니메이션 용-->
<script src="./lib/rebound.min.js"></script> 
<!-- template 과 contanins 용-->
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<!-- peer 연결용 -->
<script type="text/javascript" src="./lib/peer.js"></script>
<script src="./script/EventEmitter.js"></script>
<script src="./script/FileSender.js"></script>
<script src="./script/FileSaver.js"></script>
<script src="./script/DataController.js"></script>
<script src="./script/pieLoader.js"></script>
<script src="./script/StreamLoader.js"></script>

<!-- GLOBAL SOMETHINGS TO USE IN NEARDROP -->
<script>
// Global Variables
var CHUNK_SIZE = 16000;
var BLOCK_SIZE = 64;

// Utility Functions
function getPosition(element) {
    var xPosition = 0;
    var yPosition = 0;
  
    while(element) {
        xPosition += (element.offsetLeft - element.scrollLeft + element.clientLeft);
        yPosition += (element.offsetTop - element.scrollTop + element.clientTop);
        element = element.offsetParent;
    }
    return { x: xPosition, y: yPosition };
};
</script>

<script src="./script/Neighbor.js"></script>
<script src="./script/UserController.js"></script>
<script src="./script/UIController.js"></script>
<script src="./script/ConfirmPopup.js"></script>
<script src="./script/App.js"></script>

<script>
// 현재는 내 아이디가 자동생성이지만 
// 인자로 내 아이디를 넘기면서 APP을 생성해야 한다.
var app = new App();
</script>