/* ==========================================================================
   Table of Contents
   ========================================================================== */

/*
    1.  General
    2.  Font
    3.  Images
    4.  Avatar
    5.  Popups
    6.  Others
*/

/* ==========================================================================
   1. General - Setting up containers
   ========================================================================== */
body, html {
	margin: 0;
	padding: 0;
	
	/* 드래그로 선택 안되게 하는 설정 */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	min-height: 400px;
	
	overflow: hidden;
}

.neighbor-container > .avatar > h1
,.neighbor-container > .avatar > span
,.user-container > .avatar > h1
,.user-container > .avatar > span  {
	margin: 0px;	
}

.neighbor-container {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
}
.user-container {
	position: fixed;
	bottom: 0px;
	width: 100%;
	text-align: center;

}
.wave {
	position: absolute;
	width: 100%;
	height: 100%;
}
.wave > svg {
	width: 100%;
	height: 100%;	
}

.wave > svg {
	opacity: 0;
	transform: scale3d(1.2, 1.2, 1.2); 
	transform-origin: bottom;
	transition: all .6s ease;
	overflow: hidden;
}

.wave > svg.show {
	transform: scale3d(1, 1, 1); 
	opacity: 1;	
}


/* ==========================================================================
   2. Font - Style of text
   ========================================================================== */
* {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 100;
	-webkit-font-smoothing: antialiased; /* 이걸 하지 않으면 브라우저마다 폰트 굵기가 다르게 보임 (크롭에서 두껍게. 사파리에선 이쁘게..) */
	color: white;
}

/* ==========================================================================
   3. Images - Mainly backgound-images
   ========================================================================== */
html {
	background-image: url(../image/bg.jpg);
	background-size: cover;
}
body {
background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.7) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.7) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.7) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#94000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
}




/* ==========================================================================
   4. Avatar - Recognize each other and show progress
   ========================================================================== */
.avatar {
	position: relative;
	display: inline-block;
	text-align: center;
	width: 130px;
}

.avatar > * {
	width: 100%;
}

.avatar-pic {
	margin: 20px auto;
	margin-top: 10px;
	width: 100px;
	height: 100px;
	background-size: cover;
	border-radius: 50px;
	
	-webkit-box-shadow: 0 3px 2px 0 rgba(40, 40, 40, 0.85),inset 1px 2px 2px 0 rgba(255, 255, 255, 0.25),inset -2px -2px 2px 0 rgba(255, 255, 255, 0.20);
	-moz-box-shadow:    0 3px 2px 0 rgba(40, 40, 40, 0.85),inset 1px 2px 2px 0 rgba(255, 255, 255, 0.25),inset -2px -2px 2px 0 rgba(255, 255, 255, 0.20);
	box-shadow:         0 3px 2px 0 rgba(40, 40, 40, 0.85),inset 1px 2px 2px 0 rgba(255, 255, 255, 0.25),inset -2px -2px 2px 0 rgba(255, 255, 255, 0.20);
	
	overflow: hidden;
}

.in-process>.avatar-pic {
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow: none;
}

.progress-container {
	position: absolute;
	margin-top: 5px;
	margin-left: 10px;
	width: 110px;
	height: 110px;
	background-size: cover;
	border-radius: 55px;
	z-index: -100;
	opacity: .8;
	
	transition: .3s -webkit-box-shadow linear;
}
.in-process .progress-container {
	-webkit-box-shadow: 0 3px 2px 0 rgba(40, 40, 40, 0.75),inset 1px 2px 2px 0 rgba(255, 255, 255, 0.25),inset -2px -2px 2px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow:    0 3px 2px 0 rgba(40, 40, 40, 0.75),inset 1px 2px 2px 0 rgba(255, 255, 255, 0.25),inset -2px -2px 2px 0 rgba(255, 255, 255, 0.25);
	box-shadow:         0 3px 2px 0 rgba(40, 40, 40, 0.75),inset 1px 2px 2px 0 rgba(255, 255, 255, 0.25),inset -2px -2px 2px 0 rgba(255, 255, 255, 0.25);
}
.in-process .avatar-pic {
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	box-shadow:        none;
}

.blind {
	display: none;
}
.avatar.dragover {
	background-color: rgba(255,255,255,.85);
	border-radius: 8px;
}
.avatar.dragover > .avatar-pic {
	-webkit-box-shadow: 0 3px 2px 0 rgba(40, 40, 40, 0.25),inset 1px 2px 2px 0 rgba(255, 255, 255, 0.15),inset -2px -2px 2px 0 rgba(255, 255, 255, 0.15);
	-moz-box-shadow:    0 3px 2px 0 rgba(40, 40, 40, 0.25),inset 1px 2px 2px 0 rgba(255, 255, 255, 0.15),inset -2px -2px 2px 0 rgba(255, 255, 255, 0.15);
	box-shadow:         0 3px 2px 0 rgba(40, 40, 40, 0.25),inset 1px 2px 2px 0 rgba(255, 255, 255, 0.15),inset -2px -2px 2px 0 rgba(255, 255, 255, 0.15);
}

.avatar.dragover > h1 {
	border-radius: 0 0 8px 8px;
	color: black;
}

.drop-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: none;
}

.stream-loader-container {
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -60px;
	margin-top: 75px;

	width: 120px;
	height: 500px;

    transform-origin: 50% 0;
   	z-index: -200;
}
.message {
	width: 100%;
	height: 100%;
	font-size: 28px;
	line-height: 100px;
	text-shadow: 0 0 26px rgba(0, 0, 0, 1);
	
	transition: .3s all linear;
}
.in-process .message {
	background-color: rgba(0,0,0,.4);
}
canvas {
	opacity: .73;
}

/* ==========================================================================
   5. Popups - Modal Popup styles
   ========================================================================== */
.acception-container .avatar-pic {
	float: left;
	display: inline-block;
	1background-color: fuchsia;
	width: 70px;
	height: 70px;
	border-radius: 35px;
	box-shadow:	none;
}
.acception-container {
	position: absolute;
	width: 320px;
	border-radius: 18px;
	margin-left: -160px;

	background: rgba(255,255,255,.84);
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
	text-align: center;
	padding-bottom: 15px;
	z-index: 100;
	
	box-shadow: 0px 0px 70px 10px rgba(0,0,0,.3);
	transition: .3s opacity ease-out;
}
.acception-container.closing {
	opacity: 0;
}
.acception-container > .header {
	1position: absolute;
	1background-color: aqua;
	padding: 15px;
	padding-bottom: 10px;
}
.acception-container > .header > div {
	text-align: left;
	display: inline-block;
	position: relative;
	padding-left: 10px;
	1top: 13px;
	width: 200px;
	word-wrap: break-word;
line-height: 22px;
  overflow: hidden;
  1text-overflow: ellipsis;
	1height: 70px;
	1background-color: rgba(0,0,255,.3);
	color: black;
}
.acception-container > .header > div > strong{
	color: black;
	font-weight: 800;
	opacity: .8;
}

.acception-container>.btn-section>.btn {
	display: inline-block;
	text-align: center;
	width: 140px;
	height: 40px;	
	background-color: rgba(0,0,0,.2);
	border-radius: 10px ;
	line-height: 40px;
	font-weight: bold;
	margin: 0px 4px;;
	color: white;
	cursor: hand;
	transition: .2s background-color linear, .2s color linear;
}
.acception-container .icon {
	width: 60px;
	height: 84px;
	vertical-align: middle;
	display: inline-block;
	opacity: .6;
	background-image: url(upfile.png);
	background-size: cover;
	background-position: center center;
}
.acception-container .icon p{
	color: black;
	font-weight: bold;	
	position: relative;
	top: 38px;
}

.acception-container .size {
	width: 200px;
	font-size: 40px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	color: rgba(0,0,0,.4);
}
.acception-container>.btn-section>.btn:hover {
	background-color: rgba(0,0,0,.4);
}

.acception-container>.btn-section>.btn:active {
	background: rgba(255,255,255,.88);
	color: black;
}

.acception-container>.btn-section {
	clear: both;
	1background-color: aqua;
	padding: 0;
	margin: 0;
}
.acception-container>.hr {
	width: 92%;
	height: 1px;
	1background-color: aqua;
	border-bottom: 1px solid rgba(0,0,0,.2);
	margin: 10px 0;
	transform: translateX(4%);
}

/* ==========================================================================
   6. Others - Github buttons
   ========================================================================== */
.github-container {
	position: absolute;
	background-image: url(../image/github.png);
	background-size: cover;
	width: 40px;
	height: 40px;
	bottom: 0px;
	left: 0px;
	margin: 15px;
	opacity: .8;
}
.github-container > a{
	display: block;
	width: 100%;
	height: 100%;	
}
.toast {
	display: block;
	margin: 0 auto;
	bottom: 0px;
	background-color: black;
	font: white;
	font-size: 20px;
	text-align: center;
	transition: all .6s linear;
}

.toast.hide {
	opacity: 0;
}