<div class="acception-container">
	<div class="header">	
		<img class="avatar-pic" src="./user_pic/<%= opponentPicture %>"/>
		<div><strong><%= opponentName %></strong> 으로부터 <br/><%= fileName %><br/>.<%= fileExtension %><br/> 을(를) 받으시겠습니까?</div>
	</div>
	<div class="hr"></div>
	<div class="icon" style="background-image: url(./image/downfile.png)">
		<p>.<%= fileExtension %></p>
	</div>
	<div class="size"><%= fileSize %></div>
	<div class="hr"></div>
	<div class="btn-section">
		<div class="btn no">아니오</div>
		<div class="btn yes">예</div>
	</div>
</div>